
* {
  box-sizing: border-box;
}

/* font downloaded from dafont.com originally called Arcade Classic and posted by the user Glitch: https://www.dafont.com/arcade-classic.font */
@font-face {
  font-family: pixelGlitch;
  src: url(fonts/arcadeGlitch.ttf);
}

/* font downloaded from dafont.com originally called Our Arcade Games and posted by the user Font Bureau: https://www.dafont.com/our-arcade-games.font */
@font-face {
  font-family: pixel;
  src: url(fonts/arcade.TTF);
}

@font-face {
  font-family: basic;
  src: url(fonts/PAPL_.ttf);
}

header {
  padding: 5px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

h1 {
  text-align: center;
  font-family: pixelGlitch;
  font-size: 42px;
  color: #85DC88;
}

/* tagline for mobile*/
#intro {
  background-color: lightgray;
  font-size: 18px;
  margin-top: 8px;
  vertical-align: middle;
    text-align: center;
  font-family: basic;
  width: 98%;
  padding: 10px;
  margin-bottom: 30pt;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px dashed gray;
}

#p5Canvas{
  width: 800px;
  height: 100%;
  margin: 0 auto;
  margin-right: 1%;
  position: relative;
  right: 30%;
  max-width: 50%;
  z-index: 100;
}

#welcome{
  width: 400px;
  height: 400px;
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  left: 38%;
  top: 35%;
  max-width: 100%;
  z-index: -100;
}

#rcorner {
border-radius: 25px;
border: 2px solid pink;
  padding: 20px;
  background: linear-gradient(45deg, rgb(85, 17, 85) 0%, rgba(255,94,130,0.5) 100%);
}

#pageTitle {
  border-radius: 25px;
  border: 2px solid pink;
    padding: 20px;
    background: linear-gradient(45deg, rgb(85, 17, 85) 0%, rgba(255,94,130,0.5) 100%);
  }
  

main{
  font-family: pixel;
  font-size: 18px;
  margin-top: 1px;
}

body{
  font-family: pixel;
  font-size: 16px;
  background-image: url("images/indexBack.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

p{
  font-size: 18px;
}

a:link {
 color: deepskyblue;
}

a:visited {
 color: mediumslateblue;
}
a:hover {
 color: violet;
}

a:active {
  color: green;
}

.img{
  margin-left: auto;
  margin-right: auto;
  max-width: 101%;
  height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 1200px) {
  .column {
    display: none;
  }

    header{
  display: none;
  }

  footer{
    display: none;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;

  }

  #p5Canvas {
    display: none;
  }

}

 footer{
   background-color: lightgray;
   border-radius: 25px;
   border: 1px solid gray;
   padding: 20px;
   padding: 10px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
 }

 #textStatus{
   font-family: basic;
 }

 #textSize{
   font-family: basic;
 }

 #currentText{
   font-family: basic;
 }


 #when{
   font-family: basic;
   font-size: 18px;
 }

 #weekd{
   font-family: basic;
   font-size: 18px;
 }
